img{
    height:500px;
}

.all{
    background-size: cover; /* Ajuste l'image pour couvrir tout le fond */
    background-position: center; /* Centre l'image */
    min-height: 100vh;
    height: 100%;
   display: grid;
   grid-template-rows: 1fr 5fr ;
    align-items: center;
    justify-items: center;
 
   
}

.Button{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    justify-items: center;
   
    
}
.buttonHome{
    padding: 15px;
    border-radius: 10px;
    background-color: blanchedalmond;
    font-size: 30px;
}


.goodsam, .badsam{
    width:100% ;
    display: flex;
    justify-content: center;
}

.Photo{
    grid-column: span 2;
}

.Homequestion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(194, 241, 24);
    
}
.son{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 100% 5% 100% 5% / 30% 0% 30% 0% ;
    justify-items: center;

}

.question{
grid-column: span 2;
font-size: 30px;
}

.son button{
    width: 50px;
}