.liensR{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  justify-items: center;
    align-items: center;
   
}

.liensR img{
    height: 200px;
}

.liensR p{
    font-size: 30px;
    text-align: center;
}

.liensolo{
    background-color: aqua;
    margin: 20px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
   
    padding: 15px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px 5px rgb(206, 11, 11) ;
}