

.Contenupresent{
    margin: 0px 100px;
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 1fr 1fr;}

.tableinfopres{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(121, 150, 248);
    box-shadow: 10px 10px 15px 3px rgb(10, 31, 153);
}
.tableinfopres p
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
   
}

.tableinfopres a{
    text-decoration: none;
    cursor: pointer;
}

.tableinfopres a:visited{
    color: aliceblue;
}



.samactuel{
    border-radius: 15px;
    height: 600px;
    width: 400px;
}

.samhe{
    font-size: 40px !important;

}